# Archivos auxiliares de LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.slg
*.out
*.slo
*.sls
*.slg
*.syg
*.syi

# Carpeta de salida del compilador (opcional)
output/
build/

# Archivos temporales del sistema
.DS_Store
Thumbs.db
